/* global styling */

body {
  background-color: #060C17;
  color: #F0F7F4;
  font-family: maven pro,sans-serif;
}

nav {
  background-color: #060C17;
}

main, section, footer {
  padding-left: 220px;
}

@media only screen and (max-width : 992px) {
  main, section, footer {
    padding-left: 0;
  }
}

i {
  color: #cfb6ff;
}


/* footer */

#footer-text {
  text-align: left;
}

a {
  color: #f0f7f4;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#footer-links {
  padding-left: 3rem;
}

.footer-underline {
  width: 65%;
}

#logo {
  padding-bottom: 0px;
}

#menu {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

/* inputs */

#search .input-field {
  width: 100%;
}

.input-field.col .search-label {
  left: 6rem;
}

.input-field>label:not(.label-icon).active { 
  display: none; 
} 

.col .search-box {
  margin-left: -.2rem;
  margin-right: 0;
}

#search input[type=text]:not(.browser-default) {
  border-bottom: none;
  border: 1px solid rgb(207 182 255);
  border-radius: 8px;
  color: #f0f7f4;
  text-align: center;
}

.input-field .prefix {
  position: absolute;
  width: 3rem;
  font-size: 1.3rem;
  top: 2.4rem;
}

.input-field .prefix ~ input {
  margin-top: 0rem;
  border-radius: 7px;
  border:  1px solid rgba(240, 247, 239, 0.3);
  padding-left: 10px;
  margin-left: 0.6rem;
  width: 92%;
}

.input-field .prefix.active {
  color: #cfb6ff;
}

.input-field>input[type]:-webkit-autofill:not(.browser-default):not([type="search"])+label {
  transform: translateY(-25px) scale(1.1);
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
  color: #cfb6ff;
}

.select-wrapper input.select-dropdown:focus {
  border-bottom: 1px solid #636765;
}

#passwordField {
  margin-top: 2rem;
}

#username {
  border:  1px solid rgba(240, 247, 239, 0.3);
  border-radius: 7px;
  color: #d1d1d1;
  padding-left: 10px
}

#password {
  border:  1px solid rgba(240, 247, 239, 0.3);
  border-radius: 7px;
  color: #d1d1d1;
  padding-left: 10px;
}

/* sidenav */

.container {
  max-width: 2500px;
}

#containerHome {
  width: 70%;
}

.sidenav {
  width: 225px;
  background-color: #060C17;
  border-right: 1px solid rgba(240, 247, 239, 0.3);
  -webkit-background-clip: padding-box; 
  background-clip: padding-box;
}

.sidenav li>a {
  color: #F0F7F4;
  padding: 0 21px;
}

#slide-out li>a>i {
  color: #cfb6ff;
}

/* messages, titles and lines */

.flashes h4 {
  line-height: 2;
}

h4 {
   color: #F0F7F4;
   font-variant-caps: all-petite-caps;
}

hr {
  opacity: 0.3;
}

.divider {
  width: 78%;
}

.sidenav .divider {
  margin: 0px 0px 0px 20px;
}

/* Home Page */

#allGames {
  margin: .5rem 0 1rem 0;
  border: 0px;
  border-radius: 2px;
  overflow: visible;
  position: relative;
}

.genre-type {
  color: #cfb6ff;
}

.post-details {
  font-size: 1.5vw;
}

/* search box */

#query {
  width: 90%;
}

#search {
  padding: 0px; 
  margin: 0px;
  box-shadow: 0 0px 0px 0 rgb(0 0 0 / 14%), 0 0px 0px 0px rgb(0 0 0 / 12%), 0 0px 0px 0 rgb(0 0 0 / 20%);
}

/* images */

.image-container {
  text-align: center;
  max-width: 400px;
}

.game-pic {
  width: 400px;
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

.home-game-pic {
  max-width: 100%;
  width: 400px;
  height: 250px;
  object-fit: cover;
}

.profile {
  text-align: center;
  max-width: 250px;
}

.profile-game-pic {
  width: 250px;
  height: auto;
}

.post-info .row .col.m11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
  height: 190px;
}

.row .col.m1 {
  margin-top: 35px;
  padding: 0;
}

.home-row {
  padding-bottom: 0px;
}


.reaction {
  background-color: transparent;
  border: none;
}

.material-icons {
  color: #cfb6ff;
}

.collection .collection-item:last-child {
  border-bottom: inset !important;
}

/* publish form */

.publish-form {
  background-color: #1f2020;
  margin-top: 0px;
  border: 0.3px solid #f0f7f454;
  border-top: 0px
}

.publish-row {
  margin-bottom: 0px;
}

.input-field>label {
  color: #d1d1d1;
}

/* removed green validation bottom border */
input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 0px;
  -webkit-box-shadow: 0 0px 0 0;
  box-shadow: 0 0px 0 0;
}

#publish_title:focus {
  color: #f0f7f4;
  outline: 0;
  box-shadow: 0px 0px 1px 0rem rgb(207 182 255 / 90%);
}

#publish_title {
  border:  1px solid rgba(240, 247, 239, 0.3);
  border-radius: 7px;
  padding-left: 10px;
  width: 98%;
  color: #d1d1d1;
}

#publish_description {
  height: 150px;
  border:  1px solid rgba(240, 247, 239, 0.3);
  border-radius: 7px;
  width: 98%;
  color: #d1d1d1;
}

#publish_description:focus {
  color: #f0f7f4;
  outline: 0;
  box-shadow: 0px 0px 1px 0rem rgb(207 182 255 / 90%);
}

textarea {
  font-size: 15px;
  color: #d1d1d1;
  padding: 0.5rem;
}

.game-label {
  padding-left: 10px;
}

.game-credentials {
  border:  1px solid rgba(240, 247, 239, 0.3) !important;
  border-radius: 7px !important;
  padding-left: 10px !important;
  width: 90% !important;
  color: #d1d1d1;
}

.game-credentials:focus {
  color: #f0f7f4;
  outline: 0;
  box-shadow: 0px 0px 1px 0rem rgb(207 182 255 / 90%);
}

/* genre dropdown */

#select-options-de247580-7261-ac24-bf38-4c479e18ab4c {
  display: block;
  width: 336.219px;
  left: 0px;
  top: -1px;
  height: 202px !important;
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

#select-options-72a99be7-5b32-7d40-42ab-f38a8e3fe4e0 {
  height: 293px !important;
}

.select-wrapper input.select-dropdown {
  color: #d1d1d1;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #636765;
  padding-left: 10px;
  height: 3rem;
}

.select-dropdown li.disabled, .select-dropdown li.disabled>span, .select-dropdown li.optgroup {
  color: rgb(240 247 244);
}

.dropdown-content li>span {
  color: #cfb6ff;
  font-size: 14px;
}

.select-wrapper .caret {
  fill: rgb(209 209 209);
}

/* datepicker */

.datepicker-date-display {
  background-color: #262829;
}

.datepicker-table-wrapper table tr.date-picker-row {
  background: transparent;
}

.datepicker-table td {
  border-radius: 0%;
  padding: 0;
}

.datepicker-table td.is-selected {
  background-color: #8c52ff;
  color: #fff;
}

.datepicker-table td.is-today {
  color: #cfb6ff;
}

/* edit form */

#edit_title {
  border:  1px solid rgba(240, 247, 239, 0.3);
  border-radius: 7px;
  padding-left: 10px;
  width: 98%;
  color: #d1d1d1;
}

#edit_title:focus {
  color: #f0f7f4;
  outline: 0;
  box-shadow: 0px 0px 1px 0rem rgb(207 182 255 / 90%);
}

#edit_description {
  height: 150px;
  border:  1px solid rgba(240, 247, 239, 0.3);
  border-radius: 7px;
  width: 98%;
  color: #d1d1d1;
}

#edit_description:focus {
  color: #f0f7f4;
  outline: 0;
  box-shadow: 0px 0px 1px 0rem rgb(207 182 255 / 90%);
}

/* buttons */

#editButton {
  box-shadow: 0 0 0 0 rgb(0 0 0 / 14%), 0 0 0 0 rgb(0 0 0 / 12%), 0 0 0 0 rgb(0 0 0 / 20%);
}

#cancel {
  margin-right: 1rem;
}

.btn, .btn-large, .btn-small {
  font-family: maven pro,sans-serif;
  background: #a77aff;
  border-radius: 7px;
  color: rgb(255 255 255);
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: #a77affdb;
}

.right-align {
  text-align: right;
  width: 98%;
}

#editButton:visited {
  background-color: transparent;
}

#editButton:hover {
  background-color: transparent;
}

#editButton:focus {
  background-color: transparent;
}

/* login page */

.register-link {
  color: #cfb6ff;
}

h3 {
  border: 0.3px solid #f0f7f454;
  border-bottom: 0px;
  padding: 10px;
  margin-bottom: 0px;
  font-size: 1.6rem;
  background-color: #313131;
}

/* table styling */

.dropdown-content li.divider {
  height: 0px;
}

.dropdown-content {
  background-color: #262829;
}

.dropdown-content li:hover {
  background-color: #37393B;
  opacity: 0.9;
}

.dropdown-content li>a {
  color: #F0F7F4;
}

thead tr {
  background-color: transparent !important;
  color: white;
  border-radius: 0px;
}

tr {
  border-bottom: 10px solid #060C17;
}

td, th {
  padding: 20px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 0px;
  color: #F0F7F4;
}

tr:nth-child(even) {
  background-color: #262829;
}

tr:nth-child(odd) {
  background-color: #1f2020;
}

.row .col.s1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
  text-align: right;
  margin-top: 1.5rem;
}

.collection .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 10px 0px 10px;
  margin: 0;
}

main #genre_type {
  display: none !important;
}

.circle {
  border-radius: 0%;
}

/* library */

.prices {
  color: #cfb6ff;
}


/* custom 404 page */

#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
}

.notfound {
  max-width: 920px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.notfound .notfound-404 {
  position: absolute;
  height: 100px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: maven pro,sans-serif;
  color: #37393B;
  font-weight: 900;
  font-size: 276px;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
}

.notfound h2 {
  font-family: maven pro,sans-serif;
  font-size: 46px;
  color: #F0F7F4;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0;
}

.notfound p {
  font-family: maven pro,sans-serif;
  font-size: 16px;
  color: #F0F7F4;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 15px;
  width: 80%;
  padding-left: 5.8rem;
}

.notfound a {
  font-family: maven pro,sans-serif;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #8c52ff;
  display: inline-block;
  padding: 16px 38px;
  border: 2px solid transparent;
  border-radius: 40px;
  color: rgb(211, 211, 211);
  font-weight: 400;
  -webkit-transition: .2s all;
  transition: .2s all;
}


/* Media Queries */

@media only screen and (min-width: 993px) {
  .container {
      width: 70%;
  }

  .game-cell {
    width: 400px;
  }

  .post-details {
    font-size: 1vw;
  }
}

@media only screen and (max-width: 850px) {
  img.game-pic, video.responsive-video {
      max-width: fit-content;
      height: auto;
      width: 300px;
  }
}
