body {
    background-color: grey;
}


main, section, footer {
    padding-left: 300px;
  }

  @media only screen and (max-width : 992px) {
    main, section, footer {
      padding-left: 0;
    }
  }

.flashes h4 {
  line-height: 2;
}

/* Home Page */

.collection .collection-item {
  background-color: #fff;
  line-height: 1.5rem;
  padding: 10px 10px 0px 10px;
  margin: 0;
}

main #genre_type {
  display: none !important;
}

