<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Escro Gaming</title>
</head>

<body>

    <header>

        <nav>
            <div id="menu" class="row">
                <div class="col s6">
                    <a href="#" data-target="slide-out" class="sidenav-trigger">
                        <i class="fas fa-bars"></i>
                    </a>
                </div>
            </div>
        </nav>

        <ul id="slide-out" class="sidenav sidenav-fixed">
            <div id="logo" class="row">
                <img class="responsive-img" src="/static/images/escro_games_trans.png"  title="Escro Games Logo">
            </div>
            <div id="search" class="col s6 card-panel transparent">
                <form action="{{ url_for('search') }}" method="post" class="col s12">
                    <div class="row search-box valign-wrapper center-align ">
                        <div class="input-field col s12 m3">
                            <input type="text" name="query" id="query" minlength="3" required>
                            <label class="search-label" for="query">Search</label>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row">
                <div class="top-links col s12">
                    <li><a href="{{ url_for('show_games') }}"><i class="material-icons">home</i>Home</a></li>
                    <li><a href="{{ url_for('library') }}"><i class="material-icons">widgets</i>Library</a></li>
                    {% if session.user %}
                    <li><a href="{{ url_for('publish') }}"><i class="material-icons">mode_edit</i>Create Post</a></li>
                </div>
                <div class="col s12">
                    <li><a href="{{ url_for('profile', username=session['user']) }}"><i
                                class="material-icons">person</i>Profile</a></li>
                    {% if session.user|lower == "admin"|lower %}
                    <li><a href="{{ url_for('get_genres') }}"><i class="material-icons">view_list</i>Genres</a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}"><i class="material-icons">logout</i>Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('login') }}"><i class="material-icons">person</i>Log In</a></li>
                    <li><a href="{{ url_for('register') }}"><i class="material-icons">person_add</i>Register</a></li>
                    {% endif %}
                </div>
            </div>
        </ul>

    </header>

    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="center-align">{{ message }}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    <main>
        {% block content %}
        {% endblock %}
    </main>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>