{% extends "base.html" %}
{% block content %}

<!-- {% for game in games %}
{{ game.game_title }}<br>
{{ game.genre }}<br>
{{ game.game_description }}<br>
{{ game.created_by }}<br>
{{ game.is_available }}<br>
{{ game.price }}<br>
{{ game.post_date }}<br>
{% endfor %} -->


    {% if games|length > 0 %}
    <div class="container">
        <div class="row">
            <h4>Top Posts</h4>
            <hr>
        </div>
    </div>

    <div class="container">
        <table class="highlight">
            <tbody>
                {% for game in games %}
                <tr>
                    <td class="post-info">
                        <div class="row home-row">
                            <div class="col s12 m8 l6">
                                <a href="#"><img class="home-game-pic" src="{{ game.image_link }}" alt="Profile Picture" class="circle"></a>
                            </div>
                            <div class="col s10 m4 l6">
                                <span class="post-title"><strong>{{ game.game_title }}</strong></span> 
                                <span class="genre-type">#{{ game.genre_type|lower }}</span><br>
                                <hr>
                                <p class="post-details">{{ game.game_description }}</p>
                                <span class="post-owner">Posted by {{ game.created_by }}</span>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h3 class="red-text center-align">No Results Found</h3>
    {% endif %}

{% endblock %}