{% extends "base.html" %}
{% block content %}

<!-- {% for game in games %}
{{ game.game_title }}<br>
{{ game.genre }}<br>
{{ game.game_description }}<br>
{{ game.created_by }}<br>
{{ game.is_available }}<br>
{{ game.price }}<br>
{{ game.post_date }}<br>
{% endfor %} -->


    {% if games|length > 0 %}
    <div class="container">
        <div class="row">
            <h4>Top Posts</h4>
        </div>
    </div>

    <div class="container">
        <table class="highlight">
            <tbody>
                {% for game in games %}
                <tr>
                    <td class="game-cell">
                        <div class="image-container">
                            <a href="#"><img class="home-game-pic responsive-img" src="{{ game.image_link }}" alt="profile pic" class="circle"></a>
                        </div>
                    </td>
                    <td id="postInfo">
                        <div class="row">
                            <div class="col s8 m11">
                                <span><strong>{{ game.game_title }}</strong></span> <span>#{{ game.genre_type|lower }}</span><br>
                                <p>{{ game.game_description }}</p>
                                <span><em>Posted by {{ game.created_by }}</em></span>
                                </p>
                            </div>
                            <div id="ticker" class="col s4 m1">
                                <button class="reaction" onclick="buttonClick();"><i class="material-icons">thumb_up</i></button>
                                <input type="text" id="inc" value="0"></input>

                                <button class="reaction" onclick="buttonClick();"><i class="material-icons">thumb_down</i></button>
                                <input type="text" id="inc" value="0"></input>
                            </div>
                        </div>
                    </td>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <h3 class="red-text center-align">No Results Found</h3>
    {% endif %}

{% endblock %}