{% extends "base.html" %}
{% block content %}

<!-- {% for game in games %}
{{ game.game_title }}<br>
{{ game.genre }}<br>
{{ game.game_description }}<br>
{{ game.created_by }}<br>
{{ game.is_available }}<br>
{{ game.price }}<br>
{{ game.post_date }}<br>
{% endfor %} -->

{% if games|length > 0 %}
<div class="container">
        <div class="row">
            {% for game in games %}
            <div class="col s12 m6 l3">
                <img id="gamePic" class="game-pic" src="{{ game.image_link }}" alt="Library Game Picture">
                <div class="col s12 m6 l3 library-details">
                    <span class="library-title"><strong>{{ game.game_title }}</strong></span> <br>
                    <span class="library-dev">{{ game.dev_team }}</span> <br>
                    <span class="prices">{{ game.price }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% else %}
<h3 class="red-text center-align">No Results Found</h3>
{% endif %}

{% endblock %}