{% extends "base.html" %}
{% block content %}

<!-- {% for game in games %}
{{ game.game_title }}<br>
{{ game.genre }}<br>
{{ game.game_description }}<br>
{{ game.created_by }}<br>
{{ game.is_available }}<br>
{{ game.price }}<br>
{{ game.post_date }}<br>
{% endfor %} -->

{% if games|length > 0 %}
<div class="container">
        <div class="row">
            {% for game in games %}
            <div class="col s4">
                <a href="#"><img id="gamePic" class="responsive-img" src="{{ game.image_link }}" alt="Library Picture" class="circle"></a>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            {% for game in games %}
            <div class="col s4">
                <strong>{{ game.game_title }}</strong> <br>
                <span>{{ game.dev_team }}</span> <br>
                <span>{{ game.price }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% else %}
<h3 class="red-text center-align">No Results Found</h3>
{% endif %}

{% endblock %}