{% extends "base.html" %}
{% block content %}

    <div class="container">
        <table class="highlight">
            <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Genre</th>
                <th>Price</th>
                <th>
                </th>
            </tr>
            </thead>

            <tbody>
                {% for game in games %}
                {% if session.user|lower == game.created_by|lower %}
                <tr>
                    <td>
                        <div class="profile image-container">
                        <img src="{{ game.image_link }}" alt="profile pic" class="profile-game-pic responsive-img">
                        </div>  
                    </td>
                <td><strong>{{ game.game_title }}</strong></td>
                <td>#{{ game.genre_type }}</td>
                <td>{{ game.price }}</td>
                <td>
                    <div class="col s1">
                        <a id="editButton{{ game._id }}" class='dropdown-trigger' href='#' data-target='dropdown1{{ game._id }}'><i class="material-icons">more_vert</i></a>
                        <ul id='dropdown1{{ game._id }}' class='dropdown-content'>
                            <li><a href="{{ url_for('edit_post', game_id=game._id) }}">Edit</a></li>
                            <li><a href="{{ url_for('delete_post', game_id=game._id) }}">Delete</a></li>
                            <li><a href="#!">Done</a></li>
                            <li class="divider" tabindex="-1"></li>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endif %} 
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}